{% extends 'base.html.twig' %}

{% block title %}Login - {% endblock %}

{% block body %}
    <div class="container d-flex align-items-center animate__animated animate__zoomIn">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-6">
                <div class="card border-0 shadow">
                    <img
                            {% if banner %}
                                src="{{ banner }}"
                            {% else %}
                                src="https://creativecloud.adobe.com/content/dam/2015/8/article-marquee/article-marquee7.jpg"
                            {% endif %}
                            class="card-img-top" alt="The city">
                    <div class="card-body">

                        {% if error %}
                            <div class="col-12 d-flex justify-content-center mb-2 mt-3">
                                <div class="text-center alert alert-danger w-50">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            </div>
                        {% endif %}

                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-10">
                                    <form action="{{ path('app_login') }}" method="post">
                                        <label for="username" class="form-label">Email</label>
                                        <input class="form-control"
                                               type="text"
                                               id="username"
                                               name="_username"/>

                                        <label for="password" class="form-label mt-3">Password</label>
                                        <input class="form-control"
                                               type="password" id="password"
                                               name="_password"/>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">

                                        <div class="d-flex flex-column align-items-center justify-content-center mt-5">
                                            <button class="btn btn-primary btn-lg"
                                                    type="submit">Log in
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
